.header {
  margin: 32px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  gap: 24px;
  margin: 0 0 0 40px;
}

.header__logo {
  width: 89px;
  height: 40px;
  grid-column: 1/1;
  grid-row: 1/1;
}

.header__date {
  grid-column: 2/2;
  grid-row: 1/1;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 13px 0 0 0;
}

.header__right {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  margin: 0 40px 0 0;
  gap: 12px;
}

.header__add {
  grid-column: 1/1;
  grid-row: 1/1;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 8px 0 0 0;
}

.header__name {
  grid-column: 2/2;
  grid-row: 1/1;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 8px 0 0 8px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  grid-column: 3/3;
  grid-row: 1/1;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
