.header {
  margin: 32px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  gap: 24px;
  margin: 0 0 0 40px;
}

.header__logo {
  width: 89px;
  height: 40px;
  grid-column: 1/1;
  grid-row: 1/1;
}

.header__date {
  grid-column: 2/2;
  grid-row: 1/1;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 13px 0 0 0;
}

.header__right {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  margin: 0 40px 0 0;
  gap: 12px;
}

.header__add {
  grid-column: 2/2;
  grid-row: 1/1;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 2px 0 0 0;
  border: none;
  background-color: #fff;
  padding: 0;
}

.header__add:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__link {
  text-decoration: none;
  list-style-type: none;
  grid-column: 3/3;
  grid-row: 1/1;
  display: flex;
  color: #000;
}

.header__link:visited {
  color: #000;
}

.header__link:hover {
  opacity: 0.8;
}

.header__name {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 8px 12px 0 8px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header {
    max-width: 768px;
  }

  .header__left {
    margin: 0 0 0 20px;
  }

  .header__right {
    margin: 0 20px 0 0;
  }
}
