.header {
  margin: 0 auto 0 auto;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
  max-width: 1440px;
}

.header__left {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  gap: 24px;
  margin: 0 0 0 40px;
}

.header__logo {
  width: 89px;
  height: 40px;
  grid-column: 1/1;
  grid-row: 1/1;
}

.header__date {
  grid-column: 2/2;
  grid-row: 1/1;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 13px 0 0 0;
}

.header__right {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  margin: 0 40px 0 0;
  gap: 12px;
}

.header__add {
  grid-column: 2/2;
  grid-row: 1/1;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 2px 0 0 0;
  border: none;
  background-color: #f3f3f3;
  padding: 0;
}

.header__add:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__link {
  text-decoration: none;
  list-style-type: none;
  grid-column: 3/3;
  grid-row: 1/1;
  display: flex;
  color: #000;
}

.header__link:visited {
  color: #000;
}

.header__link:hover {
  opacity: 0.8;
}

.header__name {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 8px 12px 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
  max-width: 200px;
  text-align: right;
}

.header__avatar {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.header__letter {
  display: flex;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}

.header__outlogged {
  grid-column: 2/2;
  grid-row: 1/1;
  display: flex;
  color: #000;
  margin-bottom: 7px;
}

.header__sign {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 8px 12px 0 0;
  border: none;
  background-color: #f3f3f3;
  padding: 0;
}

.header__sign:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__log {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 8px 12px 0 8px;
  border: none;
  background-color: #f3f3f3;
  padding: 0;
}

.header__log:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__button {
  display: none;
}

.header__burger {
  display: none;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .header {
    margin: 0 auto 0 auto;
    max-width: 375px;
    padding-top: 20px;
  }

  .header__left {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 16px;
  }

  .header__right {
    display: none;
  }

  .header__name {
    max-width: 100px;
  }

  .header__button {
    display: flex;
    border: none;
    background-color: #f3f3f3;
    width: 44px;
    height: 44px;
    margin: 0 16px 0 0;
    padding: 0;
  }

  .header__burger {
    display: flex;
    width: 44px;
    height: 44px;
    margin: 0 16px 0 0;
  }

  .header__burger:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header {
    max-width: 768px;
    padding-top: 20px;
  }

  .header__left {
    margin: 0 0 0 20px;
  }

  .header__right {
    margin: 0 20px 0 0;
  }

  .header__name {
    max-width: 100px;
  }
}
