.main {
  margin: 33px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  max-width: 1440px;
}

.main__container {
  margin: 0 40px 0 40px;
}

.main__clothing {
  margin: 40px 0 0 0;
}

.main__text {
  font-weight: 700;
  font-size: 20px;
}

.main__cards {
  display: grid;
  margin: 34px 0 0 0;
  gap: 20px;
  padding: 0;
  grid-template-columns: repeat(4, 328px);
}

.main__button {
  display: none;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .main {
    margin: 16px auto 0 auto;
    max-width: 375px;
  }

  .main__container {
    margin: 0 16px 0 16px;
  }

  .main__clothing {
    margin: 16px 0 0 0;
  }

  .main__text {
    font-size: 20px;
    width: 340px;
  }

  .main__cards {
    grid-template-columns: repeat(2, 164px);
  }

  .main__button {
    display: flex;
    width: 343px;
    height: 44px;
    background-color: #000;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 21px 0 0 0;
    border: none;
  }

  .main__button:hover {
    cursor: pointer;
  }

  .main__random {
    width: 12px;
    height: 12px;
    margin: 0 8px 0 0;
  }

  .main__label {
    margin: 0 12px 0 0;
    font-size: 16px;
    font-weight: 700;
    font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .main {
    margin: 33px auto 0 auto;
    max-width: 768px;
  }

  .main__container {
    margin: 0 20px 0 20px;
  }

  .main__clothing {
    margin: 20px 0 0 0;
  }

  .main__cards {
    grid-template-columns: repeat(4, 164px);
  }
}
