.popup__label {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin: 24px 0 0 28px;
}

.popup__input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  width: 440px;
  height: 24px;
  border: none;
  border-bottom: 1px solid #000;
  margin: 8px 36px 0 0;
}

.popup__text {
  margin: 24px 0 0 28px;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
}

.popup__inputs_container {
  margin: 14px 0 0 24px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 96px;
}

.popup__input_button {
  margin: 0;
}

.popup__label_multiple {
  font-size: 16px;
  font-weight: 700;
  margin-left: 8px;
}
