.weather {
  margin: 0;
}

.weather__container {
  position: relative;
}

.weather__banner {
  width: 1360px;
  height: 80px;
}

.weather__temp {
  font-weight: 700;
  font-size: 36px;
  margin: 0 0 0 20px;
  padding: 20px 0 0 0;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .weather {
    width: 343px;
  }

  .weather__banner {
    width: 343px;
    object-fit: none;
    object-position: 100% 0;
    border-radius: 20px;
  }

  .weather__temp {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .weather {
    max-width: 768px;
  }

  .weather__banner {
    width: 728px;
    object-fit: none;
    object-position: 100% 0;
    border-radius: 20px;
  }
}
